body{
    background: #2d2c2c;
    margin: 0px;
    padding: 0px;
}

.container{
    text-align: center;
}

#welcome{
    width: 50%;
    margin: 0 auto;
    background: #fff;
    height: 220px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px #fff;
    padding: 15px;
    position: relative;
    text-align: left;
    padding-left: 55px;
}



#welcome > span {
    font-family: 'Acme', sans-serif;
    font-size: 18px;
    color: #333;
    font-style: italic;
}

.style2 {
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 3px;
    font-size: 50px;
    color: #3e67ff;
}

.btn-box{
    cursor: pointer;
    background: #fff;
    height: 80px;
    width: 80px;
    box-shadow: 1px 0px 9px #fff;
    border: 1px solid #807e7e;
    font-weight: 500;
    margin: 3px;
    font-size: 60px;
}

#wrapper{
    padding: 20px;
}

.btn-wrap{
    display: flex;
}

#alert{
    width: 30%;
    background: #f1ff1d;
    border-radius: 2px;
    border: 1px solid #c3ca59;
    margin: 0 auto;
    box-shadow: 0px 0px 3px #fff;
    text-align: center;
    color: #333;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
    font-style: italic;
    font-size: 18px;

    display: none;
}

.skyblue{
    color: #3c5fc1;
}

.warn{
    color: #dc3f3f;
}

.toolbar
{
    background: #fff;
    padding: 15px;
    margin-bottom: 25px;
    display: flex;
}

.style1{
    margin: 0px;
    color: #dc3f3f;
    width: 50%;
    font-family: 'Satisfy', cursive;
    font-size: 1.5em;
    font-weight: bold;
}

.label{
    font-family: 'Acme', sans-serif;
    margin-right: 3px;
}

.custom_title {
    position: absolute;
    top: 70px;
    right: -50px;
}

.form-filter
{
    width: 50%;
}

input, select{
    border: none;
    border-bottom: 1px solid #333;
    font-size: 16px;
    width: 150px;
}

#versus{
    font-size: 17px;
}

.btn-submit
{
    background: #333;
    color: #fff;
    border: none;
    line-height: 1.6;
    cursor: pointer;
}

:focus {
    outline: none;
}

.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 0.5s infinite linear;
    color:000;
}


@-webkit-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}

@-moz-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}

@-o-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}

@-ms-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}

@keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
